//var
@import "var";
@import "mixins/mixin";
//@import "../libs/font-awesome/scss/font-awesome";
//@import "../libs/bootstrap-sass/assets/stylesheets/bootstrap";

h1 {
    color: $color;
    font-size: $fontsize;
    margin-left: $marignleft;

    span {
        font-size: 100px;

        ul {
            list-style: none;

            li {
                margin: 0;
            }
        }
    }
}
@mixin margins ($margintop , $marginbottom) {
    .box {
        margin-top: $margintop;
        margin-bottom: $marginbottom;
    }
}
@mixin paddings ($paddingtop , $paddingbottom) {
    margin-top: $paddingtop;
    margin-bottom: $paddingbottom;
}

.block {
    @include margins(100px, 300px);
}

.block1 {
    @include margins(10px, 20px);
}
// run?
.box1 {
    @include paddings (20px,30px);
}

@include margins (20px,30px);


//extend
//佔位選擇器

%btn-small {
  width: 100px;
  height: 50px;
  padding-top: 100px;
  text-align: center;
  box-sizing: border-box;
}


%btn-medium {
  width: 200px;
  height: 100px;
  padding-top: 100px;
  text-align: center;
  box-sizing: border-box;
}


%btn-large {
  width: 300px;
  height: 150px;
  padding-top: 150px;
  text-align: center;
  box-sizing: border-box;
}


.button_1  {
   @extend  %btn-small ;
   background-color: rgb(205, 231, 0);
   color:#fff;
}

.button_2 {
  @extend  %btn-medium ;
   background-color: rgb(250, 164, 19);
   color: #fff;

}
.button_3 {
  @extend  %btn-large ;
   background-color:rgb(37, 52, 150);
   color: #fff;
   font-size: 1.5em;
}


a.btn {
   width: 100px;
}

a .btn {
  width: 100px;
}

// 同層選擇器
a {
  .btn {width: 100px;}
}

a {
 &.btn{
   width: 100px;}
}


a {
  &:hover{
    color: rgb(17, 138, 108);
  }
}

.box {
  &::before {
   content: '';
 }
  &::after {
   content: '';

      }
}
.btn {
   @extend .box;
}

//跳脫字元

$num : 10px;

.box_02_#{$num} {
 width: $num;
}

$direction : right ;

.box_#{$direction} {
   float: $direction;
  &::after {
    content: '';
    clear: both;
  }
}


$pushnum :  200px;

.push-#{$pushnum} {
  margin-left: $pushnum;
}
