.header{
    ul {
       height: 100px;
       li {
         width: 200px;
         a {
           text-decoration: none;
           &:hover {
             color: #f00;
           }
         }
       }
    }
}
